<div class="container">
  <table class="table" *ngIf="bills">
    <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>CustomerId</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let b of bills._embedded.bills">
      <td>{{ b.id }}</td>
      <td>{{ b.billingDate | date : 'yyyy-MM-dd' }}</td>
      <td>{{ b.customerId }}</td>
      <td>
        <button class="btn-outline-primary" (click)="getOderDetails(b)">OrderDetails</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
